* {
  margin: 0;
  padding: 0;
}

body {
}

.bodyarea {
  height: 100vh;
  width: 100vw;
}
.header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./resources/images/keyboard.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.form-container {
  padding: 50px 60px;

  box-shadow: -1px 4px 20px 5px rgba(0, 0, 0, 0.5);
}
.navbar {
  background: #101010;
}

.link-dec,
.link-dec:hover {
  text-decoration: none;
}

.anim {
  transition: all ease 0.5s;
}

.div-bd {
  border-bottom: 1px solid #504f4f;
}

.col-md-10,
.col-md-11,
.col-sm-12 {
  padding: 0;
  margin: 0;
}
.sb-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.toggle {
  border: none;
  background: #343a40;
}
.icon-big {
  font-size: x-large;
}
.toggle:active {
  border: none;
  background: #343a40;
}

.sidebar {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  z-index: 1037;
  opacity: 0.5;
  transition: all ease 0.5s;
}

@media (max-width: 520px) {
  .sidebar {
    display: none;
  }
}

.disp-cards {
  height: auto;
}

.candidate-cards {
  background: white;

  margin: 1rem 0.5rem;
  transition: box-shadow 0.7s ease, transform 0.3s ease;
}

.candidate-cards:hover {
  box-shadow: 2px -1px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-10px);
}

.main-head {
  background: #212529;
}

.mainarea {
  background: rgba(12, 104, 121, 0.973);
  height: 100%;
}

.tablearea {
  background: white;
  width: 100%;
}
