* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./resources/images/keyboard.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.form-container {
  padding: 50px 60px;

  box-shadow: -1px 4px 20px 5px rgba(0, 0, 0, 0.5);
}
.navbar {
  background: #101010;
}

.link-dec,
.link-dec:hover {
  text-decoration: none;
}

.anim {
  transition: all ease 0.5s;
}

.div-bd {
  border-bottom: 1px solid #504f4f;
}

.sb-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.toggle {
  border: none;
  background: #343a40;
}
.toggle i {
  font-size: large;
}
.toggle:active {
  border: none;
  background: #343a40;
}

.sidebar {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  z-index: 1037;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
